@font-face {
  font-family: "KoHo";
  src: url(assets/font/KoHo-Medium.ttf);
}
@font-face {
  font-family: "Rubik";
  src: url(assets/font/Rubik-Medium.ttf);
}

a{
  color: #1D62AF;
  text-decoration: none;
  font-weight: bold;
}
.blue{
  color : #1D62AF;
}
.light-blue{
  color: #26ABE2;
}
#left, #close, h1, h2, h3, h4, h5,h6, #title, #next-title{
  font-family: "Rubik" !important;
}

p{
  /*text-align: justify;*/
  font-size : 120%;
}

h1{
  text-transform: uppercase;
  color : #333;
}
h2{
  font-size : 1.5em !important;
  font-family: "Rubik" !important;
  position: relative !important;
  width: 100% !important;
  text-transform: uppercase !important;
  text-align: left !important;
  color : #1D62AF !important;
  font-weight: bold !important;
}
h4{
  text-transform: uppercase;
  color : #1D62AF;
  margin-left: 0em;
  padding: 0;
}
h5{
  text-transform: uppercase;
  /*color : #fff;*/
  font-size: 1.5em;

}
h6{
  text-transform: uppercase;
  font-size: 1em;
  margin :0.5em;
  margin-left: 0em;
  margin-top : 1.5em;
}
.white{
  color: #fff !important;
  text-align: right;
}
h5{
  margin-top : 1.5em;
}
/*.yellow{
  color : #e7c36a;
}*/
.korabbi-kep{
  position: relative;
  width: 30%;
  height: auto;
}
body {
  /*touch-action: none;*/
  font-family: "KoHo";
  color: #555;
  margin: 0px;
  width: 100%;
  height: 100%;
  font-size : 17px;
}
li{
  font-size : 20px;

}


iframe{
  position: relative;
  width: 100%;
  height: 100%;
  border :none;
  margin : none;
  padding: none;
  overflow: hidden;
}
*{
  border:none !important;
}
.pages{
  padding-top: 0.1em;
  padding-right: 0.5em;
  background:transparent;
}
.logo{
  position: relative;
  display: inline-block;
  width: 0;
  min-width: 200px;
  display: inline-block;
  padding: 1em;
}
img{
  position: relative;

  max-height: 100%;
  max-width: 100%;
}
#verseny-logo{
  --w : 6em;
  width: var(--w);
  height: var(--w);
  min-width: var(--w);
  left : calc(50% - (var(--w) * 0.5));
}

#verseny-title:{
  text-align: center;
  position: relative;
  text-align: justify !important;
}
/*
input{
  font-family: "KoHo" !important;
  font-size:1em;
  background-color: #eee;
  border : none;
  margin : 2px;
  padding: 0.3em;
  border-radius: 0.3em;
}*/

.pages{
  /*text-align: justify;*/
  padding-bottom: 1em;
}


/* overrides for materialize @ nevezes2.html */


.btn-large{
  color : #fff !important;
  font-size: 1.5em !important;
  margin: 1em;
  box-shadow: none !important;
}

input{
  color: #000;

  padding-left: 1em !important;
  box-shadow: none !important;
  background-color: #fffe !important;
}
label{
  padding-left: 1em !important;
  font-size: 1em;
}
table{
  background-color: #0001 !important;
}
th, td{
  padding-left: 1em !important;

}
#registration{
  color: #1D62AF !important;
  background-color: #fffe !important;
}

.validate+label{
  color: #1D62AF !important;

}
.red-text{
  color: #D85F33 !important;
}
.row{
  margin-bottom: 0em !important;
}
.red{
  background-color: #D85F33 !important;
}
.green{
  background-color: #79DD5C !important;
}
.yellow{
  background-color: #e7c36a !important;
}
.blue{
  background-color: #1D62AF !important;

}
.aqua{
  background-color: #26ABE2 !important;
}

/*#username{
  margin-left: -2em;
}*/

/*.row .col.s12{
  padding-left: 0;
}

#login_nevezes{
  margin-left : 1em;
  margin-right : 1em;
  padding: 1em;
}
*/
