@font-face {
  font-family: "KoHo";
  src: url(assets/font/KoHo-Medium.ttf);
}
@font-face {
  font-family: "Rubik";
  src: url(assets/font/Rubik-Medium.ttf);
}

body {
  /*touch-action: none;*/
  font-family: "KoHo";
  background-color: #fff;
  color: #555;
  margin: 0px;
  /*overflow: hidden;*/
  position: fixed;
  width: 100%;
  height: 100%;
}
canvas{
  position: absolute;
  top : 0;
  left: 0;
}

#logos{
  position: fixed;
  z-index: 100;
  width: 512px;
  height: 512px;
  image-rendering: pixelated;
  left : calc(100vw - 512px);
  top : calc(100vh - 512px);
  display: none;
}
#verseny-logo{
  position: absolute;
  width: 10vh;
  height: 10vh;
  right: 13vh;
  top:2vh;
}

#sponsors{
  opacity: 0;
}
#main{
/*display: none;*/
}
#page{
  position: fixed;
  height: 92vh;
  left : 8vh;
  box-shadow: 0 1vh 1vh 0.5vh #6661;
  padding: 0;
  overflow: hidden;
  display: none;
  transform-origin: top;
  outline: none;
  background-color: #eeee;
  z-index: 999;
}
#titlebar{
  box-shadow: 0 0 2vh 0.5vh #6662;
  position: fixed;
  /*bottom: 0;*/
  top:0;
  left:0;
  width: 100%;
  height: auto;
  z-index: 1000;
  /*cursor: grab;*/
  outline: none;
  /*background-color: #cccc;*/
  background-color: #cccc;
  font-family: "Rubik" !important;
  font-weight: bold;
  /*height: 8vh;*/
}

#title{
  padding: 1.5vh;
  padding-left: 1vh;
  position: relative;
  box-sizing: border-box;
  /*width: calc((100vw - 24vh) / 2);*/
  height: auto;
  display: inline-block;
  font-size: 4.3vh;
  color :#444;
  text-transform: uppercase;
  user-select: none;
  outline: none;
}

.title_button{
  outline: none;
  font-family: "Rubik" !important;
  box-sizing: border-box;
  position: relative;
  top : 0;
  margin: 0;
  min-width: 5vh;
  width: auto;
  min-height: 8vh;
  max-height: 8vh;
  border: none;
  background : transparent;
  margin: 0;
  color : #555;
  font-size: 4.3vh;
  padding-top: 1.5vh;
  padding-bottom: 2.5vh;
  padding-left: 2vh;
  padding-right: 2vh;
  user-select: none;
}

#left{
  left : auto;
  top : 0;
}
#previous{
  left : auto;
}
#next{
  position: absolute;
  top : 0;
  right: 0;
}
.title_button:hover{
  color : #111;
  cursor: pointer;
  background-color: #ddd;
  outline: none;
}
.title_button:focus{
  outline: none;
}


#close{
  position: absolute;
  right : 0;
  background-color: #eee0;
  top :0;
  z-index: 10;
  width: 8vh;
}

#inner{
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;

  box-sizing: border-box;
}

.simplebar-scrollbar.simplebar-visible::before{
  background-color: #eeef;
  /*position: relative;*/
}
.simplebar-track.simplebar-vertical{
  /*background-color: #6662 !important;*/
  min-width: 8vh;
}
.simplebar-content{
  padding: 5vw !important; /*3em !important;*/
  /*padding-left : 2em !important;*/
  padding-top: 0 !important;
}
.simplebar-scrollbar{
  min-width: 8vh !important;
}
.simplebar-scrollbar.simplebar-visible::before{
  background-color: #ccc2;
}
.simplebar-scrollbar:before{
  background-color: #0000;

}

#center{
  position: fixed;
  left: 49.5%;
  width : 1%;
  height: 100%;
  background-color: #fff;
  display: none;
}

iframe{
  background:transparent;
}
