.form-header {
    width: 6em;
    margin: 0.5rem auto;
}

.reg-page label{
  color: #1e1e1e;
}

.app-page label{
  color: #1e1e1e;
}

.app-page .input-field label{
  color: #3e3e3e;
}

.reg-page {
  height: auto;
}

.row {
  margin-bottom: .5rem;
}

.input-field {
    margin-top: .4rem;
    margin-bottom: .4rem;
}

h3 {
  margin: 0.5rem 0;
}

select.letszam {
  width: 50px;
  padding: 0;
  height: 2rem;
  display: inline-block;
}

.url_input {
  width: 50% !important;
  height: 2rem !important;
  padding-left: 20px !important;
}

.url_span {
  width: 100%;
}

.input-alert {
  border: 1px solid red !important;
}
